/* Containing page */

html, body {
    margin: 0;
    border: 0;
}

body {
    padding: .7em 1.17em;
    background: #fafafa;
    text-align: center;
}


/* Head text */

h1 {
    margin-top: 0;
}

#headtext {
    float: left;
    padding-top: .49em;
    text-align: left;
}


/* Options */

#options {
    float: right;
    max-width: 50%;
    padding-left: 3.5em;
    text-align: right;
    opacity: .7;
}


/* Basics */

#viewer {
    clear: both;
    font-size: 1.4em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
}

.row {
    position: relative;
    white-space: nowrap;
    z-index: 14;
}

    .row.main {
        padding-bottom: .7em;
        font-size: 1.17em;
    }

        .row.main .key {
            width: 2.1em;
        }

.deleter {
    position: relative;
    display: inline-block;
    top: -3px;
    color: rgb(140, 49, 49);
    font-size: 70%;
    text-align: center;
    opacity: .49;
    cursor: pointer;
    transition: 117ms opacity;
}

    .deleter:hover {
        opacity: .84;
    }

.index {
    display: inline-block;
    width: 1.4em;
    color: #aaa;
    text-align: center;
}

.key {
    display: inline-block;
    position: relative;
    padding-left: 14px;
    width: 3.5em;
    color: #212121;
    text-align: center;
}

.values {
    display: inline-block;
    padding: .35em 14px;
    color: #777;
}

    .values span {
        margin-right: .7em;
    }


/* Fancy row linking thing */

.row:nth-of-type(2n) {
    margin-top: 7px;
}

.row:nth-of-type(2n + 1) {
    margin-bottom: 7px;
}

.gap {
    position: absolute;
    margin-top: -28px;
    margin-left: 49px;
    padding: 14px 0;
    height: 49px;
    width: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #eee;
    border-right: 0;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    color: #dadada;
    font-size: .77em;
    z-index: 7;
}

    .gap span {
        display: block;
        margin-left: -50%;
        width: 100%;
        background: #fafafa;
        text-align: center;
    }


/* First row has no border */

.row:nth-of-type(1) .values {
    border: 0;
}

.row:nth-of-type(2) .values {
    border: 0;
}

.row:nth-of-type(3) .values {
    border-top: 0;
}


/* Primes */

#viewer.primes .key.prime {
    color: blue;
}

#viewer.primes .excluded.prime {
    color: cadetblue;
}


/* Bottom options */

.bottomOptions {
    display: inline-block;
    font-style: italic;
    text-align: center;
}

    .bottomOptions input[type=number] {
        margin-bottom: .35em;
        width: 4.9em;
        text-align: center;
    }

    .bottomOptions input[type=button] {
        width: 100%;
    }

#skipper {
    float: left;
}

    #skipper #skipperStart {
        float: right;
    }
